#toggle-audio {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

@keyframes fadeInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.slide {
  animation: fadeInOut 15s infinite;
}
